.individual-steps {
  & .individual-steps__inner {
    & .section-title {
      margin-bottom: 40px;
      text-align: center;
    }

    & .individual-steps__items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;

      @media(max-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
      }

      @media(max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
      }

      & .individual-steps__item {
        height: 446px;
        position: relative;
        border-radius: 40px;
        overflow: hidden;
        padding: 30px;
        display: flex;
        flex-direction: column;
        @media(max-width: 992px) {
          height: 355px;
        }

        &:nth-child(7n + 1) {
          justify-content: flex-end;

          & .individual-steps__item-name {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
          }

          & .individual-steps__item-text {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
          }
        }

        &:nth-child(7n + 2) {
          justify-content: flex-start;

          & .individual-steps__item-name {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
          }

          & .individual-steps__item-text {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
          }
        }

        &:nth-child(7n + 3) {
          justify-content: flex-end;

          & .individual-steps__item-name {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
          }

          & .individual-steps__item-text {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
          }
        }

        &:nth-child(7n + 4) {
          justify-content: flex-end;
          grid-column-end: span 2;

          @media(max-width: 992px) {
            grid-column-end: span 1;
          }

          & .individual-steps__item-name {
            text-align: left;
          }

          & .individual-steps__item-text {
            text-align: left;
            max-width: 417px;
          }
        }

        &:nth-child(7n + 5) {
          justify-content: flex-end;

          & .individual-steps__item-name {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
          }

          & .individual-steps__item-text {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
          }
        }

        &:nth-child(7n + 6) {
          justify-content: flex-start;

          & .individual-steps__item-name {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
          }

          & .individual-steps__item-text {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
          }
        }

        &:nth-child(7n + 7) {
          grid-column-end: span 2;
          justify-content: flex-end;
          align-items: flex-end;

          @media(max-width: 992px) {
            grid-column-end: span 1;
          }

          @media(max-width: 768px) {
            align-items: center;
            justify-content: flex-start;
          }

          & .individual-steps__item-name {
            text-align: right;

            @media(max-width: 768px) {
              text-align: center;
            }
          }

          & .individual-steps__item-text {
            text-align: right;
            max-width: 300px;

            @media(max-width: 768px) {
              text-align: center;
            }
          }
        }


        &.light {
          & .individual-steps__item-name {
            color: var(--light-color);
          }

          & .individual-steps__item-text {
            color: var(--light-color);
          }
        }

        & .individual-steps__item-image {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;

          & img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }

          & picture {
            width: 100%;
            height: 100%;
          }

          & .individual-steps__image-layer {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.40) 100%), 50% / cover no-repeat;
            z-index: 2;
          }
        }

        & .individual-steps__item-name {
          font-size: 30px;
          font-style: normal;
          font-weight: 500;
          line-height: 100%;
          /* 30px */
          letter-spacing: -0.6px;
          margin-bottom: 10px;
          position: relative;
          z-index: 3;
        }

        & .individual-steps__item-text {
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
          position: relative;
          z-index: 3;
        }
      }
    }
  }
}