& .about-flow {
  & .section-title {
    text-align: center;
    margin-bottom: 40px;
  }

  & .about-flow__items {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @media(max-width: 1100px) {
      flex-direction: column;
      gap: 10px;
    }

    & .about-flow__item {
      max-width: 453px;
      width: 100%;
      border-radius: 40px;
      border: 1px solid #E7EAEB;
      background: #F3F3F6;
      padding: 8px;
      padding-bottom: 20px;

      @media(max-width: 1100px) {
        max-width: 100%;
      }

      & .about-flow__item-image {
        width: 100%;
        height: 388px;
        border-radius: 36px;
        overflow: hidden;
        margin-bottom: 22px;

        @media(max-width: 700px) {
          height: 300px;
        }

        & img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }

      & .about-flow__item-info {
        & .about-flow__item-title {
          font-size: 30px;
          font-style: normal;
          font-weight: 500;
          line-height: 100%;
          /* 30px */
          letter-spacing: -0.6px;
          color: var(--dark-color);
          text-align: center;
          max-width: 413px;
          margin-bottom: 10px;
          margin-left: auto;
          margin-right: auto;

          @media(max-width: 700px) {
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
            /* 24px */
            letter-spacing: -0.48px;
          }
        }

        & .about-flow__item-text {
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
          color: var(--darg-gray-color);
          text-align: center;

        }
      }
    }
  }
}