/bitrix/*
/.osp/
/upload/
/.htaccess
/debug.log
/local/php_interface/
/bitrix_old/*
/docker-compose.yml
/instruction.txt
/nginx/
/php/
/www/
.*
/.top.menu.php
!.gitignore
/robots.txt
/sitemap.xml
*sitemap*
/local/templates/houses/components/bitrix/catalog.element/.default/ajax_copy.js
/local/templates/houses/components/bitrix/catalog.element/.default/script_copy.js
*.log