.projects {
	& .projects-inner {
		& .section-title {
			margin-bottom: 20px;
		}

	}
}

& .projects-tabs {


	& .projects-tabs__inner {
		margin-bottom: 20px;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		& .projects-arrows {
			display: flex;
			align-items: center;
			gap: 10px;

			& .projects-arrow {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				background-color: #F3F3F6;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
			}
		}


	}

	& .projects-tabs__links {
		display: flex;
		align-items: center;
		gap: 20px;

		& .projects-tabs__link {
			padding-bottom: 10px;
			display: flex;
			gap: 16px;
			align-items: center;
			opacity: .3;

			& span {
				font-size: 30px;
				font-style: normal;
				font-weight: 500;
				line-height: 100%;
				color: var(--dark-color);
				letter-spacing: -0.6px;

				@media(max-width: 992px) {
					font-size: 22px;
					font-style: normal;
					font-weight: 500;
					line-height: 100%;
					/* 22px */
					letter-spacing: -0.44px;
				}
			}

			& .projects-tabs__link-live {
				width: 61px;
				height: 29px;
				display: flex;
				align-items: center;
				gap: 10px;
				background-color: var(--dark-color);
				border-radius: 8px;
				padding: 6px 12px;

				@media(max-width: 992px) {
					width: 42px;
					height: 20px;
				}

				& .projects-tabs__link-live-round {
					width: 6px;
					height: 6px;
					border-radius: 50%;
					background-color: var(--accent-color);

					@media(max-width: 992px) {
						width: 4px;
						height: 4px;
					}
				}

				& .projects-tabs__link-live-text {
					font-size: 12px;
					font-style: normal;
					font-weight: 400;
					line-height: 140%;
					color: var(--light-color);

					@media(max-width: 992px) {
						font-size: 8.276px;
						font-style: normal;
						font-weight: 400;
						line-height: 140%;
					}
				}
			}
		}

		& .projects-tabs__link.active {
			opacity: 1;
			border-bottom: 3px solid var(--dark-color);
		}
	}

	& .projects-tabs__content {
		margin-top: 40px;
		margin-left: calc((100% - 1400px) /2);

		@media(max-width: 1450px) {
			margin-left: 25px;

		}

		@media(max-width: 600px) {
			margin-left: 10px;

		}

		& .projects-arrows {
			display: flex;
			align-items: center;
			gap: 10px;
			margin-top: 10px;

			& .projects-arrow {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				background-color: #F3F3F6;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
			}
		}

		& .projects-slider {}
	}
}

.projects-items {
	& .projects-item {
		display: flex;
		flex-direction: column;
		border-radius: 40px;
		border: 1px solid var(--dividers-grey, #E7EAEB);
		background: var(--surface-light-grey, #F3F3F6);
		gap: 10px;
		padding: 8px;
		max-width: 453px;
		width: 100%;
		cursor: pointer;

		@media(max-width: 992px) {
			max-width: 300px;
			max-height: 446px;
			border-radius: 30px;
		}

		& .projects-slider__images {
			height: 437px;
			width: 100%;
			border-radius: 36px;
			overflow: hidden;

			@media(max-width: 992px) {
				height: 284px;
				border-radius: 26px;
			}

			& .splide__pagination {
				display: flex;
				flex-wrap: nowrap;
				gap: 10px;
				bottom: 20px;

				& li {
					width: 100%;
				}

				& .splide__pagination__page {
					background: rgba(255, 255, 255, 0.50);
					height: 4px;
					opacity: 1;
					border-radius: 4px;
					width: 100%;
				}

				& .splide__pagination__page.is-active {
					background: #fff;
					transform: scale(1);
				}
			}

			& .projects-slider__image-items {
				width: 100%;
				height: 100%;

				& .projects-slider__image-item {
					width: 100%;
					height: 100%;


					& img {
						object-fit: cover;
						width: 100%;
						height: 100%;
					}
				}
			}
		}

		& .projects-item__body {
			padding: 12px;

			& .projects-item__name {
				font-size: 30px;
				font-style: normal;
				font-weight: 500;
				line-height: 100%;
				margin-bottom: 4px;
				letter-spacing: -0.6px;
				color: var(--dark-color);

				@media(max-width: 992px) {
					font-size: 24px;
					font-style: normal;
					font-weight: 500;
					line-height: 100%;
					letter-spacing: -0.48px;
				}
			}

			& .projects-item__description {
				font-size: 20px;
				font-style: normal;
				font-weight: 500;
				line-height: 120%;
				letter-spacing: -0.4px;
				color: var(--darg-gray-color);
				margin-bottom: 16px;

				@media(max-width: 992px) {
					font-size: 18px;
					font-style: normal;
					font-weight: 400;
					line-height: 130%;
				}
			}

			& .projects-item__specs {
				display: flex;
				gap: 40px;

				@media(max-width: 992px) {
					gap: 30px;
				}

				& .projects-item__spec {
					display: flex;
					flex-direction: column;
					gap: 2px;

					@media(max-width: 992px) {}

					&:last-child {
						align-items: center;
					}

					& .projects-item__spec-name {
						font-size: 18px;
						font-style: normal;
						font-weight: 400;
						line-height: 130%;
						color: var(--darg-gray-color);

						@media(max-width: 992px) {
							font-size: 12px;
							font-style: normal;
							font-weight: 400;
							line-height: 140%;
						}
					}

					& .projects-item__spec-value {
						font-size: 32px;
						font-style: normal;
						font-weight: 700;
						line-height: 120%;
						color: var(--dark-color);
						letter-spacing: -0.64px;
						position: relative;

						@media(max-width: 992px) {
							font-size: 22px;
							font-style: normal;
							font-weight: 700;
							line-height: 120%;
							/* 26.4px */
							letter-spacing: -0.44px;
						}

						& sup {
							position: absolute;
							top: -10px;
							font-size: 13px;

							@media(max-width: 992px) {
								font-size: 8px;
							}
						}
					}
				}
			}
		}

		& .projects-item__last-image {
			margin-bottom: 20px;
			height: 437px;
			width: 100%;

			& img {
				object-fit: contain;
				width: 100%;
				height: 100%;
			}
		}

		& .project-item__last-text {
			margin-bottom: 20px;
			font-size: 30px;
			font-style: normal;
			font-weight: 500;
			line-height: 100%;
			/* 30px */
			letter-spacing: -0.6px;
			color: var(--dark-color);
			text-align: center;
			max-width: 373px;
			margin-left: auto;
			margin-right: auto;
		}

		& .arrow-btn__dark {
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 40px;
		}
	}
}

.projects-slider-wrapper {
	display: none;
}

.projects-slider-wrapper.active {
	display: block;
}