.catalog {
  & h1 {
    margin-bottom: 46px;
  }

  & .projects-tabs__links {
    margin-bottom: 26px;
  }

  & .catalog-inner {
    display: flex;
    gap: 20px;
    position: relative;

    & .catalog-filters {
      max-width: 217px;
      width: 100%;

      @media(max-width: 992px) {
        position: fixed;
        border-radius: 20px 20px 0 0;
        border: 1px solid #E7EAEB;
        background: var(--light-color);
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(2.5px);
        z-index: 14;
        max-width: 98%;
        left: 0;
        right: 0;
        margin: 0 auto;
        /* bottom: -6px; */
        padding: 8px 10px;
        height: 50vh;
        /* overflow-y: auto; */
        padding-bottom: 20px;
        bottom: -100%;
        transition: all .3s;
        transition: transform 0.3s ease;
        transition: all .3s ease-in;
      }

      & .catalog-filters__inner {

        position: sticky;
        top: 5rem;

        @media(max-width: 992px) {
          position: relative;
          top: 0;
        }
      }

      & .mobile-drag__line {
        height: 10px;
        width: 70px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 12px;

        & .mobile-drag__line-inner {
          width: 100%;
          height: 4px;
          border-radius: 4px;
          background: #E7EAEB;
          margin-left: auto;
          margin-right: auto;

        }

        @media(min-width: 992px) {
          display: none;
        }
      }

      & .catalog-filters__title {
        height: 50px;
        display: flex;
        align-items: flex-end;
        margin-bottom: 10px;

        @media(max-width: 992px) {
          justify-content: space-between;
          align-items: center;
          height: initial;
          margin-bottom: 16px;
        }

        & span {
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 120%;
          /* 24px */
          letter-spacing: -0.4px;
          color: var(--darg-gray-color);
          margin-bottom: 10px;

          @media(max-width: 992px) {
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
            color: var(--dark-color);
            letter-spacing: -0.48px;
          }


          & span.count-filters {
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
            letter-spacing: -0.48px;
            color: var(--darg-gray-color);

            @media(min-width:992px) {
              display: none;
            }
          }
        }

        & .reset-filters__mobile {
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 120%;
          letter-spacing: -0.14px;
          color: var(--darg-gray-color);

          @media(min-width:992px) {
            display: none;
          }
        }
      }

      & .catalog-filters__form {


        @media(max-width: 992px) {
          /* position: relative; */
          top: initial;
          /* padding-bottom: 50px;
          height: calc(100% -50px);
          overflow-y: auto; */
        }
      }

      & .catalog-filters__acc {
        display: flex;
        flex-direction: column;
        gap: 10px;
        /* overflow-y: auto;
        max-height: 198px; */

        & .ctalog-filters__acc-item {
          border-radius: 10px;
          background: #F3F3F6;
          padding: 10px;

          & .catalog-filter__acc-title {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

            & span {
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 120%;
              /* 16.8px */
              letter-spacing: -0.14px;
            }

            & svg {
              transition: all .3s;
            }
          }


          &.open>.catalog-filter__acc-title {
            & svg {
              transition: all .3s;
              transform: rotate(180deg);
            }
          }

          & .catalog-filter__acc-content {
            display: flex;
            flex-direction: column;
            gap: 6px;
            max-height: 0;
            overflow: hidden;
            transition: all .3s ease;
            opacity: 0;
          }

          &.open .catalog-filter__acc-content {
            max-height: 500px;
            opacity: 1;
            padding-top: 12px;
            transition: all .3s ease;
          }
        }
      }

      & .reset-filters {
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: -0.14px;
        background-color: var(--dark-color);
        border-radius: 20px;
        color: var(--light-color);
        padding: 10px 20px;
        margin-top: 10px;
        width: 100%;

        @media(max-width: 992px) {
          display: none;
        }
      }

      & .apply-filters {
        width: 100%;
        text-align: center;
        justify-content: space-between;
        max-width: 100%;
        margin-top: 8px;
        position: fixed;
        bottom: 10px;
        left: 0;
        display: none;

        @media(min-width: 992px) {
          display: none;
        }
      }
    }

    & .catalog-filters.active.half {
      /* transform: translateY(-50%); */
      /* transform: translateY(-200%); */
      transition: all .3s ease-in;
      height: 50vh;
      bottom: 0;

      & .catalog-filters__acc {
        overflow-y: auto;
        max-height: 333px;


        @media(max-width: 390px) {
          max-height: 320px;
        }

        @media(max-width: 380px) {
          max-height: 198px;
        }
      }
    }

    & .catalog-filters.active.full {
      /* transform: translateY(-100%); */
      /* transform: translateY(-200%); */
      transition: all .3s ease-in;
      height: 92.5vh;
      bottom: 0;

      & .catalog-filters__acc {
        overflow-y: auto;
        max-height: 545px;
      }
    }
  }

  & .catalog-grid {
    max-width: 1163px;
    width: 100%;

    & .catalog-sort {

      width: fit-content;
      width: 100%;
      margin-left: auto;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 10px;

      @media(max-width: 992px) {
        margin-bottom: 40px;
        justify-content: flex-start;
      }

      & .custom-select-cornored {
        @media(max-width: 992px) {
          max-width: 100%;
        }
      }
    }

    & .catalog-filters__mobile-trigger {
      padding: 10px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 20px;
      border: 1px solid #E7EAEB;
      margin-bottom: 10px;

      @media(min-width:992px) {
        display: none;
      }



      & .btn-name {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        color: var(--dark-color);
      }

      & .btn-count {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: -0.14px;
        opacity: 1;
        transition: all .3s ease;
        color: var(--darg-gray-color);

        &.hidden {
          opacity: 0;
          transition: all .3s ease;
        }
      }
    }


    & .catalog-items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;

      @media(max-width: 1300px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media(max-width: 810px) {
        grid-template-columns: repeat(1, 1fr);
      }


      & .catalog-item {
        max-width: 375px;
        width: 100%;
        border-radius: 20px;
        border: 1px solid #E7EAEB;
        background: #F3F3F6;
        padding: 8px;
        cursor: pointer;

        & .catalog-item__no-images {
          border-radius: 16px;
        }

        @media(max-width: 1300px) {
          max-width: 100%;
        }

        & .catalog-item__images {
          height: 300px;
          width: 100%;
          border-radius: 16px;
          overflow: hidden;

          & .splide__track {
            height: 100%;
          }

          @media(max-width: 992px) {
            /* height: 284px; */
            border-radius: 16px;
          }

          & .splide__pagination {
            display: flex;
            flex-wrap: nowrap;
            gap: 10px;
            bottom: 20px;

            & li {
              width: 100%;
            }

            & .splide__pagination__page {
              background: rgba(255, 255, 255, 0.50);
              height: 4px;
              opacity: 1;
              border-radius: 4px;
              width: 100%;
            }

            & .splide__pagination__page.is-active {
              background: #fff;
              transform: scale(1);
            }
          }

          & .catalog-item__image-items {
            width: 100%;
            height: 100%;

            & .catalog-item__image-item {
              width: 100%;
              height: 100%;
              /* visibility: visible; */

              & img {
                object-fit: cover;
                width: 100%;
                height: 100%;
              }
            }
          }
        }

        & .catalog-item__info {
          margin-top: 10px;
          padding: 12px;

          & .catalog-item__head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            margin-bottom: 10px;

            & .catalog-item__name {
              font-size: 18px;
              font-style: normal;
              font-weight: 700;
              line-height: 130%;
              max-width: 85%;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -moz-box;
              -moz-box-orient: vertical;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              line-clamp: 1;
              box-orient: vertical;
            }

            & .catalog-item__tag {
              font-size: 14px;
              font-style: normal;
              font-weight: 700;
              line-height: 140%;
              background-color: var(--light-color);
              border-radius: 100px;
              border: 1px solid #E7EAEB;
              padding: 8px 12px;
            }
          }

          & .catalog-item__body {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            flex-direction: column;
            align-items: flex-start;

            & .catalog-item__spec {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              max-width: 100%;
              gap: 10px 15px;
              display: flex;
              flex-wrap: wrap;
              max-width: 66%;

              & .catalog-item__spec-item {
                display: flex;
                align-items: center;
                gap: 4px;
                position: relative;


                &:nth-child(odd) {
                  &::before {
                    content: '';
                    position: absolute;
                    width: 3px;
                    height: 3px;
                    border-radius: 50%;
                    background-color: var(--darg-gray-color);
                    right: -15px;
                    top: 50%;
                    transform: translateY(-50%);
                  }
                }

                & .catalog-item__spec-item__icon {
                  width: 24px;
                  height: 24px;
                  display: flex;
                  align-items: center;
                  justify-content: center;

                  @media(max-width: 1500px) {
                    width: 19px;
                    height: 19px;
                  }

                  @media(max-width: 1350px) {
                    width: 16px;
                    height: 16px;
                  }

                  @media(max-width: 1300px) {
                    width: 24px;
                    height: 24px;
                  }

                  @media(max-width: 700px) {
                    width: 20px;
                    height: 20px;
                  }

                  @media(max-width: 371px) {
                    width: 18px;
                    height: 18px;
                  }


                  & img {
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                  }
                }

                & .catalog-item__spec-item__text {
                  font-size: 15px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 130%;
                  color: var(--darg-gray-color);
                  position: relative;

                  @media(max-width: 1500px) {
                    font-size: 15px;
                  }

                  @media(max-width: 1350px) {
                    font-size: 14px;
                  }

                  @media(max-width: 1300px) {
                    font-size: 15px;
                  }

                  @media(max-width: 700px) {
                    font-size: 15px;
                  }

                  @media(max-width: 371px) {
                    font-size: 15px;
                  }

                  & sup {
                    position: absolute;
                    top: -3px;
                  }
                }
              }
            }

            & .catalog-item__link {
              border-radius: 20px;
              padding: 8px 11px;
              background-color: var(--dark-color);
              display: flex;
              align-items: center;
              gap: 10px;
              max-width: 50%;
              width: 100%;
              justify-content: center;
              align-items: center;

              & span {
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%;
                color: var(--light-color);
                letter-spacing: -0.14px;

                @media(max-width: 1500px) {
                  font-size: 13px;
                }

                @media(max-width: 1300px) {
                  font-size: 14px;
                }
              }

              & svg {
                & path {}
              }
            }
          }
        }
      }
    }
  }
}