.company-ms {

  & .company-ms__slider-wrap {

    & .company-ms__slider {
      @media(min-width: 1100px) {
        visibility: visible;
      }

      & .splide__list {
        display: flex;
        gap: 20px;

        @media(max-width: 1100px) {
          gap: 0;
        }
      }

      & .splide__slide {
        height: 700px;
        max-width: 453px;
        width: 100%;
        min-width: initial;
        flex: 1 1 100%;

        @media(max-width: 1100px) {
          max-width: 100%;
          flex: 0 0 auto;
          max-height: 566px;
          height: auto;
        }

        &:first-child {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 40px;
          border-radius: 40px;
          background: #F3F3F6;
          padding: 30px;

          & .h1 {
            line-height: 120%;
          }

          & .company-ms__image {
            display: none;
          }

          & .company-ms__description {
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            /* 24px */
            letter-spacing: -0.4px;
            color: var(--darg-gray-color);

            @media(max-width: 700px) {
              font-size: 18px;
              font-style: normal;
              font-weight: 500;
              line-height: 120%;
              /* 21.6px */
              letter-spacing: -0.36px;
            }
          }

          & .arrow-btn__dark {
            z-index: 2;
            padding: 10px 10px 10px 20px;
            gap: 22px;

            & span {
              font-size: 20px;
              font-style: normal;
              font-weight: 500;
              line-height: 120%;
              letter-spacing: -0.4px;
            }
          }

          @media(max-width: 1100px) {
            padding: 20px;

            & .company-ms__image {
              display: flex;
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              z-index: -1;
            }
          }
        }

        &:nth-child(3n+2) {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          max-width: 572px;

          @media(max-width: 1100px) {
            max-width: 100%;
          }

          & .company-ms__info {
            margin-top: 10px;
            position: relative;
            z-index: 2;
            background-color: transparent;
            border: none;


            & .company-ms__info-title {
              font-size: 30px;
              font-style: normal;
              font-weight: 700;
              line-height: 100%;
              color: var(--light-color);
              letter-spacing: -0.6px;
            }

            & .company-ms__info-text {
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 130%;
              color: var(--light-color);

              & a {
                transition: all .3s ease-in;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
                letter-spacing: -0.4px;

                & span {
                  font-size: 20px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 120%;
                  letter-spacing: -0.4px;
                }

                &:hover {
                  color: var(--accent-color) !important;
                  transition: all .3s ease-in;

                  & span {
                    transition: all .3s ease-in;
                    color: var(--accent-color) !important;
                  }
                }


              }
            }
          }

          & .company-ms__image {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 40px;
            overflow: hidden;

            & .company-ms__image-layer {
              background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 65.38%, rgba(0, 0, 0, 0.80) 100%), -1167.356px -427px / 269.994% 161% no-repeat;
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              z-index: 2;
              border-radius: 40px;
              border-radius: 40px;
              overflow: hidden;
            }
          }
        }

        &:nth-child(3n+3) {
          max-width: 335px;

          @media(max-width: 1100px) {
            max-width: 100%;
          }

          & .company-ms__info {
            margin-bottom: 10px;
          }

          & .company-ms__image {
            height: 335px;
            border-radius: 40px;
            overflow: hidden;

            @media(max-width: 700px) {
              height: 200px;
            }
          }

          & .company-ms__info {
            background-color: transparent;
            border: none;
            padding: 0;
            margin-top: 20px;

            & .company-ms__info-title {
              font-size: 20px;
              font-style: normal;
              font-weight: 500;
              line-height: 120%;
              /* 24px */
              letter-spacing: -0.4px;
              margin-bottom: 10px;
            }

            & .company-ms__info-text {
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 130%;
              color: var(--darg-gray-color);
            }
          }

          & .call-to-manager {
            margin-top: 20px;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            /* 24px */
            letter-spacing: -0.4px;
            color: var(--dark-color);
            display: flex;
            align-items: center;
            gap: 4px;
            padding-top: 10px;
            padding-bottom: 10px;
            transition: all .3s;

            & svg {
              & path {
                fill: var(--accent-color);
                transition: all .3s;
                ;
              }
            }

            &:hover {
              color: var(--accent-color);
              transition: all .3s;

              & svg {
                & path {
                  stroke: var(--accent-color);
                  transition: all .3s;
                }
              }
            }
          }
        }

        & .h1 {
          color: var(--dark-color);
          line-height: 151%;
          max-width: 443px;

          @media(max-width: 1450px) {
            font-size: 40px;
            line-height: 170%;
          }

          @media(max-width: 1310px) {
            font-size: 33px;
            line-height: 180%;
          }

          @media(max-width: 700px) {
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: 180%;
            /* 33.6px */
            letter-spacing: -0.56px;
          }

          & span {
            padding: 4px 12px 8px 12px;
            background-color: var(--accent-color);
            color: var(--light-color);
            border-radius: 10px;

          }

          & b {
            padding: 4px 12px 8px 12px;
            color: var(--light-color);
            background-color: var(--dark-color);
            border-radius: 10px;
          }
        }

        & .company-ms__image {
          width: 100%;
          height: 342px;
          border-radius: 40px;
          overflow: hidden;

          @media(max-width: 1310px) {
            height: 320px;
          }


          & img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }

        & .company-ms__info {
          position: relative;
          border-radius: 30px;
          border: 1px solid #E7EAEB;
          background: #F3F3F6;
          padding: 20px;

          & .company-ms__info-title {
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
            letter-spacing: -0.48px;
            color: var(--dark-color);
            margin-bottom: 10px;
          }

          & .company-ms__info-text {
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
            color: var(--darg-gray-color);
          }

          & .company-ms__info-icon {
            position: absolute;
            right: 11px;
            top: 11px;
            height: 64px;

            img {
              object-fit: contain;
              width: 100%;
              height: 100%;
              object-position: right top;
            }
          }
        }
      }

      & .splide__pagination {
        bottom: -22px;
        gap: 10px;
        flex-wrap: nowrap;

        & li {
          width: 100%;

          & .splide__pagination__page {
            width: 100%;
            opacity: 1;
            border-radius: 4px;
            background: #F3F3F6;
            height: 4px;

            &.is-active {
              transform: scale(1);
              background: #C7C9C9;
            }
          }
        }
      }
    }
  }
}