& .icon-block {
  & .section-title {}

  & .section-subtitle {
    margin-top: 20px;
    max-width: 672px;
  }

  & .teches__head {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  & .arrow-btn__dark.moved {
    margin-top: 20px;
    max-width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .icon-block__items {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-top: 40px;

    @media(max-width: 992px) {
      flex-direction: column;
      gap: 10px;
    }

    & .icon-block__item {
      max-width: 453px;
      width: 100%;
      padding: 20px;
      border-radius: 20px;
      border: 1px solid #E7EAEB;
      background: #F3F3F6;

      @media(max-width: 992px) {
        max-width: 100%;
      }

      @media(max-width: 700px) {
        padding: 10px;
      }


      & .icon-block__item-icon {
        width: 48px;
        height: 48px;
        margin-bottom: 24px;

        @media(max-width: 700px) {
          width: 32px;
          height: 32px;
          margin-bottom: 16px;
        }

        & img {
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }

      & .icon-block__item-title {
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        /* 28.8px */
        letter-spacing: -0.48px;
        color: var(--dark-color);
        margin-bottom: 10px;

        @media(max-width: 700px) {
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 120%;
          /* 21.6px */
          letter-spacing: -0.36px;
        }
      }

      & .icon-block__item-text {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        color: var(--darg-gray-color);

        @media(max-width: 700px) {
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%;
        }
      }
    }
  }
}