& .crystal {
  & .crystal-head {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 20px;

    @media(max-width: 1250px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  & .crystal-slider {
    margin-top: 40px;
    margin-left: calc((100% - 1400px) / 2);
    @media(min-width: 1100px) {
      margin-right: 20px;
    }

    @media (max-width: 1450px) {
      margin-left: 20px;
      
    }

    @media (max-width: 1450px) {
      margin-left: 10px;
    }

    @media(min-width: 768px) {
      visibility: visible;
    }

    & .crystal-slider__items {
      display: flex !important;
      gap: 20px;

      @media(max-width: 992px) {
        gap: 0;
      }

      & .crystal-slider__item {
        border-radius: 40px;
        border: 1px solid #E7EAEB;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 30px;
        max-width: 453px;
        width: 100%;
        position: relative;
        height: 613px;

        @media(max-width: 700px) {
          padding: 10px;
          max-width: 200px;
          height: 220px;
          border-radius: 16px;
        }

        & .crystal-slider__item-image {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          display: flex;

          & img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }

          & picture {
            width: 100%;
            height: 100%;
          }
        }

        & .crystal-slider__item-info {
          position: relative;
          z-index: 2;

          & .crystal-slider__item-title {
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            /* 28.8px */
            letter-spacing: -0.48px;
            color: var(--dark-color);
            margin-bottom: 10px;

            @media(max-width: 700px) {
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 100%;
              /* 16px */
              letter-spacing: -0.32px;
            }
          }

          & .crystal-slider__item-text {
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
            color: var(--darg-gray-color);

            @media(max-width: 700px) {
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 120%;
            }
          }
        }
      }
    }

  }

  & .crystal__slider-arrows {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;

    @media(min-width: 1100px) {
      display: none;
    }

    & .crystal__slider-arrow {
      background-color: #F3F3F6;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}