 .mainscreen {
   & .mainscreen-inner {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 2fr 1fr;
     gap: 20px;

     @media(max-width: 1110px) {
       display: flex;
     }

     & .mainscreen-main__banner {
       border-radius: 40px;
       overflow: hidden;
       position: relative;
       padding: 30px;
       min-height: 495px;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       grid-column: 1;
       /* левая колонка */
       grid-row: 1;
       border: 1px solid #E7EAEB;
       background: 93.098px 204.231px / 74.496% 56.813% no-repeat, #F5F1EE;



       @media(max-width: 1110px) {
         min-height: 450px;
         width: 100%;
         max-width: 100%;
       }


       & .mainscreen-main__banner-info {
         position: relative;
         z-index: 2;

         & h1 {
           margin-bottom: 20px;
           line-height: 144%;

           & span {
             padding: 4px 10px;
             border-radius: 10px;
             background-color: var(--dark-color);
             color: var(--light-color);
           }

           @media(max-width: 1100px) {
             line-height: 166%;
           }

           @media(max-width: 400px) {
             line-height: 166%;
             max-width: 80%;
           }

           @media(max-width: 365px) {
             max-width: 91%;
           }
         }

         & h4 {
           max-width: 349px;
           color: var(--darg-gray-color);

           @media(max-width: 1250px) {
             max-width: 293px;
           }
         }
       }

       & .arrow-btn__dark {
         margin-top: 50px;
         position: relative;
         z-index: 2;

         & span {
           font-size: 20px;
           font-style: normal;
           font-weight: 500;
           line-height: 120%;
           letter-spacing: -0.4px;
         }
       }

       & .mainscreen-main__banner-image {
         position: absolute;
         right: 0;
         bottom: 0;
         max-width: 340px;
         width: 100%;
         height: 320px;
         background-blend-mode: darken, normal;
         display: flex;

         @media(max-width: 992px) {
           height: 250px;
         }

         @media(max-width: 450px) {
           height: 200px;
         }

         & img {
           object-fit: contain;
           width: 100%;
           height: 100%;
           object-position: right;
         }
       }
     }

     & .mainscreen-slider {
       max-height: 700px;
       grid-column: 2;
       grid-row: 1 / span 2;
       border-radius: 40px;
       overflow: hidden;

       @media(max-width: 1110px) {
         display: none;
       }

       & .mainscreen-splide {
         height: 100%;
         width: 100%;
         position: relative;

         & .splide__track {
           height: 100%;
           width: 100%;

           & .splide__list {
             height: 100%;
             width: 100%;
           }
         }

         & .splide__slide {
           position: relative;
           padding: 30px;
           display: flex;
           align-items: flex-end;
           padding-bottom: 58px;

           & .mainscreen-splide__image {
             position: absolute;
             left: 0;
             top: 0;
             width: 100%;
             height: 100%;
             border-radius: 40px;
             overflow: hidden;

             border: 1px solid var(--dividers-grey, #E7EAEB);

             & .mainscreen-splide__image-layer {
               background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 65.38%, rgba(0, 0, 0, 0.80) 100%), -1167.356px -427px / 269.994% 161% no-repeat;
               position: absolute;
               left: 0;
               top: 0;
               width: 100%;
               height: 100%;
               z-index: 2;
               border-radius: 40px;
             }

             & img {
               object-fit: cover;
               width: 100%;
               height: 100%;
             }
           }

           & .mainscreen-splide__info {
             position: relative;
             z-index: 3;
             display: flex;
             flex-direction: column;

             & .mainscreen-splide__info-title {
               font-size: 30px;
               font-style: normal;
               font-weight: 500;
               line-height: 100%;
               letter-spacing: -0.6px;
               color: var(--light-color);
               margin-bottom: 4px;
             }

             & .mainscreen-splide__info-price {
               font-size: 18px;
               font-style: normal;
               font-weight: 400;
               line-height: 130%;
               color: var(--light-color);
             }
           }
         }

         & .story-progress {
           position: absolute;
           bottom: 30px;
           left: 30px;
           right: 30px;
           display: flex;
           gap: 6px;
           z-index: 20;
         }

         & .story-bar {
           flex: 1;
           height: 8px;
           background: rgba(255, 255, 255, 0.3);
           overflow: hidden;
           border-radius: 4px;
         }

         & .story-fill {
           height: 100%;
           width: 0;
           background: #fff;
         }

         /* 
         & .splide__pagination {
           bottom: 1.5em;

           & .splide__pagination__page {
             border-radius: 4px;
             background-color: var(--light-color);
           }
         } */
       }
     }

     & .mainscreen-small__banner {

       grid-column: 1;
       grid-row: 2;
       background-color: blue;
       border-radius: 20px;
       border: 1px solid #E7EAEB;
       background-color: #F3F3F6;
       overflow: hidden;
       padding: 4px;
       display: flex;
       align-items: center;
       gap: 18px;
       height: 185px;

       @media(max-width: 1110px) {
         display: none;
       }

       & .mainscreen-small__banner-image {
         width: 200px;
         min-width: 200px;
         height: 177px;
         border-radius: 16px;
         overflow: hidden;

         & img {
           object-fit: cover;
           width: 100%;
           height: 100%;
         }
       }

       & .mainscreen-small__banner-info {
         display: flex;
         flex-direction: column;
         gap: 10px;

         & h4 {
           @media(max-width: 1250px) {
             font-size: 17px;
           }
         }

         & p {
           color: var(--darg-gray-color);
           font-size: 15px;
           font-style: normal;
           font-weight: 400;
           line-height: 130%;
         }
       }
     }
   }
 }

 .styles {
   & .styles-inner {
     & .section-title {
       text-align: center;
       max-width: 680px;
       margin-left: auto;
       margin-right: auto;
     }

     & .section-subtitle {
       margin-top: 20px;
       text-align: center;
       max-width: 926px;
       margin-left: auto;
       margin-right: auto;
     }

   }

   & .styles-arrows {
     display: flex;
     align-items: center;
     gap: 10px;
     margin-top: 10px;

     @media(min-width: 1500px) {
       display: none;
     }


     & .styles-arrow {
       width: 40px;
       height: 40px;
       border-radius: 50%;
       background-color: rgb(243, 243, 246);
       display: flex;
       align-items: center;
       justify-content: center;
       cursor: pointer;
     }
   }

   & .styles-slider {
     margin-top: 40px;
     margin-left: calc((100% - 1400px) / 2);


     @media(max-width: 1450px) {
       margin-left: 25px;

     }

     @media(max-width: 600px) {
       margin-left: 10px;


     }

     @media(min-width:1100px) {
       visibility: visible;
     }

     & .splide.is-initialized:not(.is-active) {
       & .splide__list {
         display: flex;
       }
     }

     & .styles-items {
       display: flex;
       gap: 20px;
       margin-top: 40px;

       @media(max-width: 700px) {
         gap: 0;
       }

       & .styles-item {
         padding: 8px;
         border-radius: 40px;
         border: 1px solid #E7EAEB;
         background: #F3F3F6;
         max-width: 454px;
         width: 100%;

         &:last-child {
           margin-right: 10px;
         }

         @media(max-width: 992px) {
           max-width: 300px;

         }

         & .styles-item__image {
           width: 100%;
           height: 388px;
           margin-bottom: 10px;
           border-radius: 36px;
           overflow: hidden;

           @media(max-width: 1100px) {
             height: 252px;
           }

           & img {
             object-fit: cover;
             width: 100%;
             height: 100%;
           }
         }

         & .styles-item__body {
           padding: 12px;

           & .styles-item__name {
             font-size: 30px;
             font-style: normal;
             font-weight: 500;
             line-height: 100%;
             letter-spacing: -0.6px;
             color: var(--dark-color);
             margin-bottom: 10px;
             overflow: hidden;
             text-overflow: ellipsis;
             display: -moz-box;
             -moz-box-orient: vertical;
             display: -webkit-box;
             -webkit-line-clamp: 1;
             -webkit-box-orient: vertical;
             line-clamp: 1;
             box-orient: vertical;
             height: 30px;

             @media(max-width: 992px) {
               font-size: 24px;
               font-style: normal;
               font-weight: 500;
               line-height: 100%;
               /* 24px */
               letter-spacing: -0.48px;
             }
           }

           & .styles-item__description {
             font-size: 18px;
             font-style: normal;
             font-weight: 400;
             line-height: 130%;
             color: var(--darg-gray-color);
             margin-bottom: 20px;
             overflow: hidden;
             text-overflow: ellipsis;
             display: -moz-box;
             -moz-box-orient: vertical;
             display: -webkit-box;
             -webkit-line-clamp: 4;
             -webkit-box-orient: vertical;
             line-clamp: 4;
             box-orient: vertical;
             height: 92px;
           }

           & .arrow-btn__light {
             max-width: fit-content;
             max-width: -moz-fit-content;
             max-width: -webkit-fit-content;
             width: 100%;
             justify-content: center;

             @media(max-width: 992px) {
               max-width: 100%;
             }
           }
         }
       }
     }
   }
 }

 .advantages {
   & .advantages-inner {
     & .section-title {
       margin-bottom: 20px;
     }

     & .section-subtitle {
       max-width: 1140px;

       & span {

         color: var(--darg-gray-color);
       }
     }

     & .advantages-items {
       margin-top: 40px;
       display: flex;
       gap: 20px;
       justify-content: space-between;

       @media(max-width: 1100px) {
         display: grid;
         grid-template-columns: 1fr 1fr;
       }

       @media(max-width: 700px) {
         gap: 10px;
       }

       & .advantages-item {
         max-width: 335px;
         width: 100%;
         padding: 20px;
         border-radius: 20px;
         border: 1px solid #E7EAEB;
         background: #F3F3F6;

         @media(max-width: 1100px) {
           max-width: 100%;
         }

         & .advantages-item__icon {
           width: 48px;
           height: 48px;
           margin-bottom: 24px;

           & img {
             object-fit: contain;
             width: 100%;
             height: 100%;
             object-position: left;
           }

           @media(max-width: 992px) {
             margin-bottom: 16px;
           }
         }

         & .advantages-item__title {
           color: var(--dark-color);
           font-size: 24px;
           font-style: normal;
           font-weight: 500;
           line-height: 120%;
           letter-spacing: -0.48px;
           overflow: hidden;
           text-overflow: ellipsis;
           display: -moz-box;
           -moz-box-orient: vertical;
           display: -webkit-box;
           -webkit-line-clamp: 2;
           -webkit-box-orient: vertical;
           line-clamp: 2;
           box-orient: vertical;
           margin-bottom: 10px;

           @media(max-width: 992px) {
             font-size: 18px;
           }

         }

         & .advantages-item__description {
           color: var(--darg-gray-color);
           font-size: 18px;
           font-style: normal;
           font-weight: 400;
           line-height: 130%;
           overflow: hidden;
           text-overflow: ellipsis;
           display: -moz-box;
           -moz-box-orient: vertical;
           display: -webkit-box;
           -webkit-line-clamp: 3;
           -webkit-box-orient: vertical;
           line-clamp: 3;
           box-orient: vertical;

           @media(max-width: 992px) {
             font-size: 14px;
             font-style: normal;
             font-weight: 400;
             line-height: 140%;
           }
         }
       }
     }
   }
 }

 .uniq {
   & .uniq-inner {
     & .uniq-head {
       display: flex;
       justify-content: space-between;
       align-items: flex-end;
       gap: 50px;

       & .section-title {
         max-width: 764px;
       }

       & .uniq-arrows {
         display: flex;
         align-items: center;
         gap: 10px;

         & .uniq-arrow {
           width: 40px;
           height: 40px;
           border-radius: 50%;
           background-color: #F3F3F6;
           display: flex;
           align-items: center;
           justify-content: center;
           cursor: pointer;
         }

         & .uniq-arrow__prev {}

         & .uniq-arrow__next {}
       }
     }
   }

   & .uniq-slider__wrap {
     margin-left: calc((100% - 1400px) / 2);
     margin-top: 40px;

     @media(max-width: 1450px) {
       margin-left: 25px;
     }

     @media(max-width: 600px) {
       margin-left: 10px;
     }

     /* modified */
     & .splide__slide {
       height: 453px;
       display: flex;
       align-items: flex-start;
       flex-direction: column;
       padding: 30px;
       border-radius: 40px;
       overflow: hidden;
       border: 1px solid #E7EAEB;
       position: relative;
       max-width: 335px;
       width: 100%;
       cursor: pointer;

       @media(max-width: 992px) {
         max-width: 160px;
         height: 220px;
         border-radius: 16px;
         padding: 10px;
       }

       & .uniq-slider__image {
         width: 100%;
         height: 100%;

         position: absolute;
         left: 0;
         top: 0;

         & .uniq-dark__layer {
           position: absolute;
           left: 0;
           top: 0;
           width: 100%;
           height: 100%;
           background: linear-gradient(180deg, rgba(0, 0, 0, 0.60) 0.09%, rgba(0, 0, 0, 0.00) 78.81%), -117px 1.5px / 170.746% 126.269% no-repeat;
           z-index: 2;
         }

         & img {
           object-fit: cover;
           width: 100%;
           height: 100%;
           object-position: top;
         }
       }

       & .uniq-slider__name {
         position: relative;
         z-index: 3;
         font-size: 30px;
         font-style: normal;
         font-weight: 500;
         line-height: 100%;
         letter-spacing: -0.6px;
         color: var(--light-color);
         margin-bottom: 10px;

         @media(max-width: 992px) {
           font-size: 16px;
           font-style: normal;
           font-weight: 500;
           line-height: 100%;
           /* 16px */
           letter-spacing: -0.32px;
         }
       }

       & .uniq-slider__Description {
         position: relative;
         z-index: 3;
         font-size: 18px;
         font-style: normal;
         font-weight: 400;
         line-height: 130%;
         color: var(--light-color);

         @media(max-width: 992px) {
           font-size: 12px;
           font-style: normal;
           font-weight: 400;
           line-height: 120%;
         }
       }
     }

     /* modified end */

     & .splide__slide.dark-text {
       & .uniq-slider__name {
         color: var(--dark-color);
       }

       & .uniq-slider__Description {
         color: var(--dark-color);
       }
     }

     & .uniq-arrows {
       display: flex;
       align-items: center;
       gap: 10px;
       margin-top: 10px;

       & .uniq-arrow {
         width: 40px;
         height: 40px;
         border-radius: 50%;
         background-color: #F3F3F6;
         display: flex;
         align-items: center;
         justify-content: center;
         cursor: pointer;
       }

       & .uniq-arrow__prev {}

       & .uniq-arrow__next {}
     }
   }
 }

 .why-we {
   & .why-we__inner {
     & .section-title {
       text-align: center;
       margin-bottom: 20px;
     }

     & .section-subtitle {
       max-width: 926px;
       margin-left: auto;
       margin-right: auto;
       text-align: center;
     }

     & .why-we__items {
       margin-top: 40px;
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       gap: 20px;

       @media(max-width: 1100px) {
         grid-template-columns: repeat(1, 1fr);
       }

       /* modified */
       & .why-we__item {
         position: relative;
         border-radius: 40px;
         border: 1px solid var(--dividers-grey, #E7EAEB);
         overflow: hidden;
         padding: 30px;
         height: 446px;
         cursor: pointer;
         display: flex;

         @media(max-width: 992px) {
           height: 355px;
         }

         & .why-we__item-image {
           position: absolute;
           left: 0;
           top: 0;
           width: 100%;
           height: 100%;

           overflow: hidden;
           display: flex;

           & .why-we__item-image__layer {
             position: absolute;
             left: 0;
             top: 0;
             width: 100%;
             height: 100%;
             background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.40) 100%), 50% / cover no-repeat;
             z-index: 2;
           }

           & img {
             object-fit: cover;
             width: 100%;
             height: 100%;
             object-position: top;

           }
         }

         & .why-we__item-title {
           font-size: 30px;
           font-style: normal;
           font-weight: 500;
           line-height: 100%;
           letter-spacing: -0.6px;
           position: relative;
           z-index: 3;
           color: var(--light-color);

           @media(max-width: 992px) {
             font-size: 24px;
             font-style: normal;
             font-weight: 500;
             line-height: 100%;
             /* 24px */
             letter-spacing: -0.48px;
           }
         }

         & .why-we__item-subtitle {
           font-size: 18px;
           font-style: normal;
           font-weight: 400;
           line-height: 130%;
           position: relative;
           z-index: 3;
           color: var(--light-color);

           @media(max-width: 992px) {
             font-size: 14px;
             font-style: normal;
             font-weight: 400;
             line-height: 140%;
           }
         }

         & .why-we__item-link {
           display: flex;
           align-items: center;
           gap: 4px;
           position: relative;
           z-index: 3;

           & span {
             font-size: 14px;
             font-style: normal;
             font-weight: 500;
             line-height: 120%;
             letter-spacing: -0.14px;
             color: var(--light-color);
           }

           &:hover {
             color: var(--accent-color);

             & span {
               color: var(--accent-color);
             }

             & svg {
               & path {
                 stroke: var(--accent-color);
               }
             }
           }
         }

         &:nth-child(7n +1) {
           display: flex;
           align-items: center;
           justify-content: flex-start;
           flex-direction: column;
           gap: 10px;
           text-align: center;

           @media(max-width: 1100px) {
             grid-column-end: span 1;
           }
         }

         &:nth-child(7n +2) {
           grid-column-end: span 2;
           display: flex;
           justify-content: flex-end;
           flex-direction: column;
           gap: 10px;

           @media(max-width: 1100px) {
             grid-column-end: span 1;
           }

           & .why-we__item-title {
             max-width: 213px;
           }

           & .why-we__item-subtitle {
             max-width: 213px;
           }
         }

         &:nth-child(7n +3) {
           display: flex;
           align-items: center;
           justify-content: flex-start;
           flex-direction: column;
           gap: 10px;
           text-align: center;

           @media(max-width: 1100px) {
             grid-column-end: span 1;
           }
         }

         &:nth-child(7n +4) {
           display: flex;
           align-items: center;
           justify-content: flex-start;
           flex-direction: column;
           gap: 10px;
           text-align: center;

           @media(max-width: 1100px) {
             grid-column-end: span 1;
           }
         }

         &:nth-child(7n +5) {
           display: flex;
           align-items: center;
           justify-content: flex-end;
           flex-direction: column;
           gap: 10px;
           text-align: center;

           @media(max-width: 1100px) {
             grid-column-end: span 1;
           }
         }

         &:nth-child(7n +6) {
           grid-column-end: span 2;
           display: flex;
           align-items: flex-end;
           justify-content: flex-end;
           flex-direction: column;
           gap: 10px;

           @media(max-width: 1100px) {
             grid-column-end: span 1;
             align-items: center;
             text-align: center;
           }

         }

         &:nth-child(7n +7) {
           display: flex;
           align-items: center;
           justify-content: flex-start;
           flex-direction: column;
           gap: 10px;
           text-align: center;

           @media(max-width: 1100px) {
             grid-column-end: span 1;
           }
         }
       }

       /* modifiend end */

       & .why-we__item.dark-text {
         & .why-we__item-title {
           color: var(--dark-color);
         }

         & .why-we__item-subtitle {
           color: var(--dark-color);
         }

         & .why-we__item-link {
           & span {
             color: var(--dark-color);
           }

           & svg {
             & path {
               stroke: var(--dark-color);
             }
           }
            &:hover {
             color: var(--accent-color);

             & span {
               color: var(--accent-color);
             }

             & svg {
               & path {
                 stroke: var(--accent-color);
               }
             }
           }
         }
       }
     }
   }
 }