.individual-ms {

  & .individual-ms__slider-wrap {

    & .individual-ms__slider {
      @media(min-width: 1100px) {
        visibility: visible;
      }

      & .splide__list {
        display: flex;
        gap: 20px;

        @media(max-width: 1100px) {
          gap: 0;
        }
      }

      & .splide__slide {
        height: 503px;
        max-width: 453px;
        width: 100%;
        min-width: initial;
        flex: 1 1 100%;

        @media(max-width: 1100px) {
          max-width: 100%;
          flex: 0 0 auto;
          max-height: 505px;
          height: auto;
        }

        &:first-child {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 40px;

          & .individual-ms__image {
            display: none;
          }

          @media(max-width: 1100px) {
            padding: 20px;

            & .individual-ms__image {
              display: flex;
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              z-index: -1;
            }
          }
        }

        &:nth-child(3n+2) {
          & .individual-ms__info {
            margin-top: 10px;
          }
        }

        &:nth-child(3n+3) {
          & .individual-ms__info {
            margin-bottom: 10px;
          }
        }

        & .h1 {
          color: var(--dark-color);
          line-height: 151%;
          max-width: 443px;

          @media(max-width: 1450px) {
            font-size: 40px;
            line-height: 170%;
          }

          @media(max-width: 1310px) {
            font-size: 33px;
            line-height: 180%;
          }

          @media(max-width: 700px) {
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: 180%;
            /* 33.6px */
            letter-spacing: -0.56px;
          }

          & span {
            padding: 4px 12px 8px 12px;
            background-color: var(--accent-color);
            color: var(--light-color);
            border-radius: 10px;

          }

          & b {
            padding: 4px 12px 8px 12px;
            color: var(--light-color);
            background-color: var(--dark-color);
            border-radius: 10px;
          }
        }

        & .individual-ms__image {
          width: 100%;
          height: 342px;
          border-radius: 40px;
          overflow: hidden;

          @media(max-width: 1310px) {
            height: 320px;
          }


          & img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }

        & .individual-ms__info {
          position: relative;
          border-radius: 30px;
          border: 1px solid #E7EAEB;
          background: #F3F3F6;
          padding: 20px;

          & .individual-ms__info-title {
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
            letter-spacing: -0.48px;
            color: var(--dark-color);
            margin-bottom: 10px;
          }

          & .individual-ms__info-text {
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
            color: var(--darg-gray-color);
          }

          & .individual-ms__info-icon {
            position: absolute;
            right: 11px;
            top: 11px;
            height: 64px;

            img {
              object-fit: contain;
              width: 100%;
              height: 100%;
              object-position: right top;
            }
          }
        }
      }

      & .splide__pagination {
        bottom: -22px;
        gap: 10px;
        flex-wrap: nowrap;
        & li {
          width: 100%;
          & .splide__pagination__page {
            width: 100%;
            opacity: 1;
            border-radius: 4px;
            background: #F3F3F6;
            height: 4px;

            &.is-active {
              transform: scale(1);
              background: #C7C9C9;
            }
          }
        }
      }
    }
  }
}

.individual-start {
  & .individual-start__inner {
    display: flex;
    gap: 20px;

    & .individual-start__info {
      max-width: 690px;

      @media(max-width: 992px) {
        max-width: 100%;
      }

      & .section-title {
        margin-bottom: 20px;

        @media(max-width: 1450px) {
          font-size: 45px;
        }

        @media(max-width: 992px) {
          font-size: 28px;
          font-weight: 700;
          line-height: 100%;
          letter-spacing: -0.6px;
        }
      }

      & .individual-start__info-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

        @media(max-width: 1370px) {
          gap: 12px;
        }

        @media(max-width: 992px) {
          gap: 10px;
        }

        & .individual-start__info-item {
          height: 189px;
          border-radius: 20px;
          border: 1px solid #E7EAEB;
          background: #F3F3F6;
          display: flex;
          flex-direction: column;
          gap: 24px;
          padding: 20px;

          @media(max-width: 992px) {
            height: 10px;
            height: auto;
            justify-content: space-between;
          }

          &:last-child {
            grid-column-end: span 2;
          }

          & .individual-start__info-item__icon {
            height: 48px;

            @media(max-width: 992px) {
              height: 32px;
            }

            & img {
              object-fit: contain;
              width: 100%;
              height: 100%;
              object-position: left top;
            }
          }

          & .individual-start__info-item__text {
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: -0.48px;
            color: var(--dark-color);

            @media(max-width: 992px) {
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 120%;
              /* 19.2px */
              letter-spacing: -0.32px;
            }
          }
        }
      }
    }

    & .individual-start__image {
      max-width: 690px;
      width: 100%;
      height: 100%;
      border-radius: 40px;
      border: 1px solid #E7EAEB;
      overflow: hidden;
      display: flex;

      @media(Max-width: 1370px) {
        height: auto;
      }

      @media(Max-width: 992px) {
        display: none;
      }

      & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.why-order {
  & .section-title {
    text-align: center;
    margin-bottom: 40px;

    @media(max-width: 992px) {
      margin-bottom: 30px;
    }
  }

  & .why-order__items {
    max-width: 1163px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
    counter-reset: order-counter;

    & .why-order__item {
      padding: 20px;
      border-radius: 20px;
      border-bottom: 1px solid #E7EAEB;
      background: #F3F3F6;
      display: flex;
      align-items: center;
      gap: 80px;
      position: relative;
      counter-increment: order-counter;

      @media(max-width: 1200px) {
        gap: 20px;
      }

      @media(max-width: 1100px) {
        gap: 0;
        flex-wrap: wrap;
      }

      & .why-order__item-num {
        font-size: 48px;
        font-style: italic;
        font-weight: 600;
        line-height: 120%;
        /* 57.6px */
        letter-spacing: -0.96px;
        color: var(--darg-gray-color);
        max-width: 48px;
        min-width: 48px;
        width: 100%;

        display: inline-block;

        &::before {
          content: counter(order-counter) ".";
          font-size: 48px;
          font-style: italic;
          font-weight: 600;
          line-height: 120%;
          letter-spacing: -0.96px;
          color: var(--darg-gray-color);
          display: inline-block;
          width: 48px;
        }

        @media(max-width: 1100px) {
          gap: 0;
          width: 100%;
          min-width: 100%;
          max-width: 100%;
          margin-bottom: 20px;
        }
      }

      & .why-order__item-name {
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        /* 30px */
        letter-spacing: -0.6px;
        max-width: 200px;
        min-width: 200px;
        width: 100%;

        @media(max-width: 1100px) {
          gap: 0;
          width: 100%;
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: 100%;
          min-width: 100%;
          max-width: 100%;
          letter-spacing: -0.48px;
          margin-bottom: 10px;
        }
      }

      & .why-order__item-description {
        max-width: 615px;
        width: 100%;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        color: var(--darg-gray-color);

        @media(max-width: 1100px) {
          gap: 0;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%;
        }
      }

      & .why-order__item-icon {
        width: 77px;
        height: 77px;
        position: absolute;
        right: 10px;
        top: 10px;


        & img {
          object-fit: contain;
          width: 100%;
          height: 100%;
          object-position: right top;
        }
      }
    }
  }

  & .arrow-btn__light {
    margin-left: auto;
    margin-right: auto;
  }
}

.individual-steps {
  & .individual-steps__inner {
    & .section-title {
      margin-bottom: 40px;
      text-align: center;
    }

    & .individual-steps__items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;

      @media(max-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
      }

      @media(max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
      }

      & .individual-steps__item {
        height: 446px;
        position: relative;
        border-radius: 40px;
        overflow: hidden;
        padding: 30px;
        display: flex;
        flex-direction: column;
        @media(max-width: 992px) {
          height: 355px;
        }

        &:nth-child(7n + 1) {
          justify-content: flex-end;

          & .individual-steps__item-name {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
          }

          & .individual-steps__item-text {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
          }
        }

        &:nth-child(7n + 2) {
          justify-content: flex-start;

          & .individual-steps__item-name {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
          }

          & .individual-steps__item-text {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
          }
        }

        &:nth-child(7n + 3) {
          justify-content: flex-end;

          & .individual-steps__item-name {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
          }

          & .individual-steps__item-text {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
          }
        }

        &:nth-child(7n + 4) {
          justify-content: flex-end;
          grid-column-end: span 2;

          @media(max-width: 992px) {
            grid-column-end: span 1;
          }

          & .individual-steps__item-name {
            text-align: left;
          }

          & .individual-steps__item-text {
            text-align: left;
            max-width: 417px;
          }
        }

        &:nth-child(7n + 5) {
          justify-content: flex-end;

          & .individual-steps__item-name {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
          }

          & .individual-steps__item-text {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
          }
        }

        &:nth-child(7n + 6) {
          justify-content: flex-start;

          & .individual-steps__item-name {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
          }

          & .individual-steps__item-text {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
          }
        }

        &:nth-child(7n + 7) {
          grid-column-end: span 2;
          justify-content: flex-end;
          align-items: flex-end;

          @media(max-width: 992px) {
            grid-column-end: span 1;
          }

          @media(max-width: 768px) {
            align-items: center;
            justify-content: flex-start;
          }

          & .individual-steps__item-name {
            text-align: right;

            @media(max-width: 768px) {
              text-align: center;
            }
          }

          & .individual-steps__item-text {
            text-align: right;
            max-width: 300px;

            @media(max-width: 768px) {
              text-align: center;
            }
          }
        }


        &.light {
          & .individual-steps__item-name {
            color: var(--light-color);
          }

          & .individual-steps__item-text {
            color: var(--light-color);
          }
        }

        & .individual-steps__item-image {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;

          & img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }

          & picture {
            width: 100%;
            height: 100%;
          }

          & .individual-steps__image-layer {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.40) 100%), 50% / cover no-repeat;
            z-index: 2;
          }
        }

        & .individual-steps__item-name {
          font-size: 30px;
          font-style: normal;
          font-weight: 500;
          line-height: 100%;
          /* 30px */
          letter-spacing: -0.6px;
          margin-bottom: 10px;
          position: relative;
          z-index: 3;
        }

        & .individual-steps__item-text {
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
          position: relative;
          z-index: 3;
        }
      }
    }
  }
}