.why-order {
  & .section-title {
    text-align: center;
    margin-bottom: 40px;

    @media(max-width: 992px) {
      margin-bottom: 30px;
    }
  }

  & .why-order__items {
    max-width: 1163px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
    counter-reset: order-counter;

    & .why-order__item {
      padding: 20px;
      border-radius: 20px;
      border-bottom: 1px solid #E7EAEB;
      background: #F3F3F6;
      display: flex;
      align-items: center;
      gap: 80px;
      position: relative;
      counter-increment: order-counter;

      @media(max-width: 1200px) {
        gap: 20px;
      }

      @media(max-width: 1100px) {
        gap: 0;
        flex-wrap: wrap;
      }

      & .why-order__item-num {
        font-size: 48px;
        font-style: italic;
        font-weight: 600;
        line-height: 120%;
        /* 57.6px */
        letter-spacing: -0.96px;
        color: var(--darg-gray-color);
        max-width: 48px;
        min-width: 48px;
        width: 100%;

        display: inline-block;

        &::before {
          content: counter(order-counter) ".";
          font-size: 48px;
          font-style: italic;
          font-weight: 600;
          line-height: 120%;
          letter-spacing: -0.96px;
          color: var(--darg-gray-color);
          display: inline-block;
          width: 48px;
        }

        @media(max-width: 1100px) {
          gap: 0;
          width: 100%;
          min-width: 100%;
          max-width: 100%;
          margin-bottom: 20px;
        }
      }

      & .why-order__item-name {
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        /* 30px */
        letter-spacing: -0.6px;
        max-width: 200px;
        min-width: 200px;
        width: 100%;

        @media(max-width: 1100px) {
          gap: 0;
          width: 100%;
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: 100%;
          min-width: 100%;
          max-width: 100%;
          letter-spacing: -0.48px;
          margin-bottom: 10px;
        }
      }

      & .why-order__item-description {
        max-width: 615px;
        width: 100%;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        color: var(--darg-gray-color);

        @media(max-width: 1100px) {
          gap: 0;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%;
        }
      }

      & .why-order__item-icon {
        width: 77px;
        height: 77px;
        position: absolute;
        right: 10px;
        top: 10px;


        & img {
          object-fit: contain;
          width: 100%;
          height: 100%;
          object-position: right top;
        }
      }
    }
  }

  & .arrow-btn__light {
    margin-left: auto;
    margin-right: auto;
  }
}