& .about-why {
  & .section-title {
    text-align: center;
    margin-bottom: 10px;
  }

  & .section-subtitle {
    text-align: center;
    max-width: 926px;
    margin-left: auto;
    margin-right: auto;
  }

  & .about-why__slider {
    margin-top: 40px;



  }

  & .about-why__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    visibility: visible;

    @media(max-width: 1150px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;

    }

    @media(max-width: 768px) {
      display: flex;

      & .splide__slide {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &:nth-child(5n + 1) {}

        &:nth-child(5n + 2) {
          & .about-why__item {
            &:nth-child(1) {
              justify-content: flex-end;
            }
          }
        }

        &:nth-child(5n + 3) {}

        &:nth-child(5n + 4) {
          & .about-why__item {
            &:nth-child(1) {
              justify-content: flex-end;
            }
          }

          & .about-why__item {
            &:nth-child(2) {
              justify-content: flex-start;
            }
          }
        }

        &:nth-child(5n + 5) {}
      }
    }

    & .about-why__item {
      height: 446px;
      position: relative;
      border-radius: 40px;
      border: 1px solid #E7EAEB;
      background: 2.193px 28.305px / 100% 101.568% no-repeat, #F6F8F8;
      overflow: hidden;
      padding: 30px;
      display: flex;
      flex-direction: column;

      @media(max-width: 700px) {
        height: 355px;
        padding: 20px;
      }


      &:nth-child(10n + 1) {}

      &:nth-child(10n + 2) {
        justify-content: flex-end;
      }

      &:nth-child(10n + 3) {
        justify-content: flex-end;

        @media(max-width: 768px) {
          justify-content: flex-start;
        }
      }

      &:nth-child(10n + 4) {
        justify-content: flex-end;
      }

      &:nth-child(10n + 5) {
        justify-content: flex-end;
        grid-column-end: span 2;
        align-items: flex-start;

        @media(max-width: 1150px) {
          grid-column-end: span 1;
        }

        & .about-why__item-title {
          text-align: left;
          max-width: 363px;
        }

        & .about-why__item-description {
          text-align: left;
        }
      }

      &:nth-child(10n + 6) {
        justify-content: flex-end;
      }

      &:nth-child(10n + 7) {
        justify-content: flex-end;
      }

      &:nth-child(10n + 8) {}

      &:nth-child(10n + 9) {
        justify-content: flex-end;
        grid-column-end: span 2;
        align-items: flex-end;

        @media(max-width: 1150px) {
          grid-column-end: span 1;
        }

        & .about-why__item-title {
          text-align: right;
        }

        & .about-why__item-description {
          text-align: right;
          max-width: 350px;
        }
      }

      &:nth-child(10n + 10) {}

      & .about-why__item-image {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        & img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }

        & picture {
          width: 100%;
          height: 100%;
        }
      }

      & .about-why__item-title {
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        /* 30px */
        letter-spacing: -0.6px;
        color: var(--dark-color);
        margin-bottom: 10px;
        position: relative;
        z-index: 2;
        text-align: center;

        @media(max-width: 700px) {
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: 100%;
          /* 24px */
          letter-spacing: -0.48px;
        }
      }

      & .about-why__item-description {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        color: var(--dark-color);
        position: relative;
        z-index: 2;
        text-align: center;

        @media(max-width: 700px) {
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%;
        }
      }

      &.light {
        & .about-why__item-title {
          color: var(--light-color);
        }

        & .about-why__item-description {
          color: var(--light-color);
        }
      }
    }
  }

  & .about-why__slider-arrows {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;

    @media(min-width: 768px) {
      display: none;
    }

    & .about-why__slider-arrow {
      background-color: #F3F3F6;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

}